*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    background-image: url("background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 50px;
    padding-top: 0;
    background: rgb(40, 1, 56);
    border-style: hidden;
    border-radius: 10px;
    box-shadow: inset 10px 0px 10px darkviolet;
    position: relative;
    .high-title{
        display: flex;
        justify-content: center;
        font-size: 40px;
        padding: 20px 0px 0px 0px;
        color: rgb(215, 238, 12);
        text-shadow: 0 0 10px rgb(218, 151, 6);
    }
    marquee{
        color: rgb(215, 238, 12);
    }
    table, tr, td{
        border-collapse: collapse;
    }
    table{
        padding: 10px;
        width: 100%;
        background: darkgoldenrod;
    }
    tr{
        border-top: 2px solid darkred;
        border-bottom: 2px solid darkred;
        &:hover{
            transform: scale(1.1);
            transition: 1s;
            &:nth-child(even){
                td{
                    background: rgb(226, 164, 83);
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                .title{
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background:  rgb(226, 164, 83);
                }
            }
            &:nth-child(odd){
                td{
                    background:darkgoldenrod;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                .title{
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background: darkgoldenrod;
                }
            }
        }
    }
    tr:nth-child(even){
        td{
            background: rgb(226, 164, 83);
        }
    }
    td{
        width: 200px;
        height: 50px;
        background: darkgoldenrod;
        font-weight: bolder;
        font-style: italic;
        border: none;
        select{
            width: 80%;
            background:rgb(215, 238, 12);
            border: 2px solid black;
            border-radius: 10px;
            padding: 5px;
        }
    }
    .title{
        width: max-content;
        padding-left: 50px;
        font-style: normal;
    }
    input{
        width: 80%;
        background:rgb(215, 238, 12);
        border-radius: 10px;
        padding: 5px;
        &:hover{
            pointer-events: stroke;
        }
    }
    .radio-box{
        display: inline-flex;
        align-items: center;
        input{
            width: 20px;
        }
        label:nth-child(2){
            margin-right: 25px;
        }
    }
    .submit{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .accept{
            margin-left: 20px;
            color:burlywood;
            font-size: 20px;
            input{
                width: min-content;
            }
        }
        .started{
            margin-right: 20px;
            width: 120px;
            height: 30px;         
            border-radius: 15px;
            padding: 10px 5px 25px 10px;
            font-weight: bold;
            transition: 0.5s;
            background-size: 200% auto;
            color: rgb(104, 6, 6);   
            background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
            &:hover{
                background-position: right center; /* change the direction of the change here */
                color:rgb(44, 134, 8);
            }
        }
    }
}